<!-- Content -->
      <div class="content-wrapper">
        <div class="container">
          <div class="row mb-lg-3">
            <div class="col-lg-3">
              <p style="font-size: small"><strong>Cars ></strong> List Car</p>
            </div>
            <div class="col-lg-9"><% if (message.length > 0) { %>
                                    <div class="col-md-8 text-center">
                                        <div class="card text-white" style="background-color: #73CA5C;">
                                            <div class="card-body">
                                                <%= message %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %></div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-10">
              <p style="font-weight: bold; font-size: 20px">List Car</p>
            </div>
            <div class="col-lg-2">
              <a
                href="/admin/create"
                type="button"
                class="btn btn-primary btn-sm"
                style="background-color: #0d28a6"
                ><i class="fa-solid fa-plus"></i> Add New Car</a
              >
            </div>
            <div class="button-list">
              <form action='/admin/filter'>
              <button type="submit" name="size" class="btn btn-outline-primary me-2" value="all" placeholder="All" data-mdb-ripple-color="dark"> All</button>
              <button type="submit" name="size" class="btn btn-outline-primary me-2" value="small" placeholder="Small" data-mdb-ripple-color="dark"> Small</button>
              <button type="submit" name="size" class="btn btn-outline-primary me-2" value="medium" placeholder="Medium" data-mdb-ripple-color="dark">Medium</button>
              <button type="submit" name="size" class="btn btn-outline-primary me-2" value="large" placeholder="Large" data-mdb-ripple-color="dark">Large</button>
            </div>
            </form>
          </div>
          <div class="row car-body">
          <% items.forEach((item)=> { %>

            <div class="col-lg-4 mb-3">
              <div
                class="card"
                style="
                  -webkit-box-shadow: 0 0 10px #f1f3ff;
                  box-shadow: 0 0 10px #f1f3ff;
                  border-radius: 8px;
                  height: 400px;
                "
              >
                <div class="card-body">
                  <img src="<%= item.image %>" style="width: 100%; height: 12vw; object-fit: cover;"/>
                  <p class="card-text"><%= item.name %> / <%= item.size %> </p>
                  <p class="card-text" style="font-weight: bold">
                    <%= item.rent %> /hari
                  </p>
                  <p class="card-text" style="font-size: small">
                    Updated at <%= item.updatedAt %> 
                  </p>
                  <!-- Vertically centered modal -->
                  <a
                    href=""
                    class="btn btn-outline-danger mx-4"
                    role="button"
                    data-toggle="modal"
                    data-target="#myModal<%= item.id %>"
                    style="min-width: 100px;"
                    ><i class="fa-solid fa-trash"></i> Delete</a
                  >
                  <a
                    href="/admin/car/<%= item.id %>"
                    type="button"
                    class="btn btn-primary mx-4"
                    style="background-color: #4caf50; min-width: 100px;"
                    ><i class="fa-solid fa-pen-to-square"></i> Edit</a
                  >
                  <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal<%= item.id %>" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <img
                              src="/images/img-BeepBeep.png"
                              style="width: 50%"
                            />
                            <h5>Menghapus Data Mobil</h5>
                            <p>
                              Setelah dihapus, data mobil tidak dapat
                              dikembalikan. Yakin ingin menghapus?
                            </p>
                          </div>
                          <div class="modal-footer">
                            <form action="/admin/delete/<%= item.id %>" method="POST">
                              <input type="submit" value="Ya" class="btn btn-primary btn-sm"style="background-color: #0d28a6">
                            </form>
                            <a
                              href="/"
                              type="button"
                              class="btn btn-outline-primary btn-sm"
                            >
                              Tidak</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div> 
             
            <% }); %>     
          </div>
          
        </div>
      </div>
    </div>