<!-- Responsive Side Bar -->
<div class="page">
  <div class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-logo-container">
        <div class="logo-container">
          <a class="navbar-brand" href="/"></a>
        </div>
      </div>
    </div>
    <div class="sidebar-body">
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a class="navigation-link" href="/">
            <div class="row">
              <div class="col-9">CARS</div>
            </div>
          </a>
        </li>
        <li class="navigation-list-item">
          <a class="navigation-link" href="/">
            <div class="row">
              <div class="col-9">List Car</div>
            </div>
          </a>
        </li>
      </ul>
      <hr style="color: rgb(255, 255, 255); margin-top: 30px" />
      <div class="teams-title-container">
        <p class="teams-title">TEAM 3</p>
      </div>
      <ul class="teams-list">
        <li class="teams-item">
          <div class="row">
            <div class="col-1">
              <i
                class="fas fa-circle"
                style="color: rgb(36, 115, 242, 0.8)"
              ></i>
            </div>
            <div class="col-9">Chandra</div>
          </div>
        </li>
        <li class="teams-item">
          <div class="row">
            <div class="col-1">
              <i
                class="fas fa-circle"
                style="color: rgb(255, 92, 160, 0.8)"
              ></i>
            </div>
            <div class="col-9">Ilham</div>
          </div>
        </li>
        <li class="teams-item">
          <div class="row">
            <div class="col-1">
              <i
                class="fas fa-circle"
                style="color: rgb(51, 242, 105, 0.8)"
              ></i>
            </div>
            <div class="col-9">Safira</div>
          </div>
        </li>
        <li class="teams-item">
          <div class="row">
            <div class="col-1">
              <i
                class="fas fa-circle"
                style="color: rgb(237, 181, 28, 0.8)"
              ></i>
            </div>
            <div class="col-9">Dendy</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
